@page
@model SombrerosLaPatrona.Pages.AyudaModel
@{
}

 <div class="contenido">
        <div class="text-center">
         <h2> Preguntas frecuentes: </h2> 
         <h3> 
          -¿Dondé esta ubicado el negocio?
          <h3>Dirección: Crra.14 #10-18 (Avenida Jimenez)</h3>
        </h3>
        <hr>
        <h3>
          -¿Cómo puedo agregar un producto al carrito?
          <h3> En cada ficha del catalogo podra encontrar en la parte inferior derecha el simbolo de un carrito, le da click una vez y posterior a eso 
            le aparecerá un chulo que es el indicador de que el producto fue agregado correctamente.
          </h3>
        </h3>
        <hr>
        <h3>
          -¿Qué requisitos debo tener para poder hacer parte de la pagina?
          <h3>
            Aparte de su nombre solo se requiere un numero de contacto y un email. 
          </h3>
        </h3>
        </div>
    </div>
  