@page
@model SombrerosLaPatrona.Pages.Form_UsuarioModel
@{
}


 <div class="contenido">
            <div class="main-container">
                <h1>
                    Crear usuario
                </h1>
                <div class="form">
                    <form>
                        <div class="form-container">
                            <div class="form-item">
                                <label for="txt-usuario">Nombre</label>
                                <input type="text" name="txt-usuario" id="txt-usuario">
                            </div>
                            <div class="form-item">
                                <label for="txt-apellido">Apellido</label>
                                <input type="text" name="txt-apellido" id="txt-apellido">
                            </div>
                            <div class="form-item">
                                <label for="txt-email">Email</label>
                                <input type="email" name="txt-email" id="txt-email">
                            </div>
                            <div class="form-item">
                                <label for="txt-teléfono">Teléfono</label>
                                <input type="tel" name="txt-teléfono" id="txt-teléfono">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="send">Crear usuario</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>