@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="contenido-principal  text-center">
    Gracias a nuestros proveedores y empleados hemos tenido la oportunidad de crear este espacio para que los clientes observen nuestros productos y que de la misma manera puedan adquirirlos de manera fácil. Encontraran variedad de productos a unos precios cómodos y justos, hay que destacar la ardua labor de nuestros proveedores en la creación de los sombreros y mochilas. Manejamos precios al por mayor y al detal, podrán escribirnos y serán atendidos con respeto, ya que sin ustedes no hubiese sido posible, muchas gracias.
</div>


@section Styles{
    <style>

        .contenido-principal {
            color: var(--color5);
            height: 370px;
            padding: 4rem;
        }

    </style>
}